:root{
    --PrimaryColor:#4CAF4F;
    --SecondaryColor:#F5F7FA;


}
@font-face {
    font-family: 'Inter';
    src: url(./Fonts/Inter_28pt-Regular.ttf);
}
.green{
    background-color: var(--PrimaryColor);
}
.style{
    font-family: 'Inter';
    font-weight: 500;

}
.Hero{
    background-color: var(--SecondaryColor);
}
.colorgreen{
    color: var(--PrimaryColor);
}
.herostyle{
    font-family: 'Inter';
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 44.55px;
    line-height: 52.9px;
    letter-spacing: 0%;

}
.Pstyle{
    font-family: 'Inter';
    font-weight: 400;
    font-style: Regular;
    font-size: 11.14px;
    line-height: 16.71px;
    letter-spacing: 0%;
    

}